
    <div class="Blog-Posts">
        <h1>Ttile</h1>

        <p>{{PostsData.title}}</p>

        <h1>Content</h1>
        <p>{{PostsData.content}}</p>

    </div>

    <h1>User</h1>
    <p>{{PostsData.User.username}}</p>


    <h1>Enter a comment to this post</h1>

    <textarea class="comment"></textarea>
       
    <a class="submit" href="/">Submit</a>


    <p style="display: none;" id='{{PostsData.id}}' class="tableId"></p>

    <script rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/Javascript/BlogInfo.js"></script>