<div class="dashboard">

    <div class="infoPage">
        {{#each PostsData as |Data|}}

            <div class="PostsCreated">
                <a href="/dashboard/edit/{{Data.id}}" style="text-decoration: none;" class="title">{{Data.title}}</a>
            </div>

        {{/each}}

        <a href="/dashboard/new" style="color: green;text-decoration:none;">New post</a>

    </div>
</div>