<div class="dashboard">

    <div class="infoPage">
        {{#each PostsData as |Data|}}
            <a href="/dashboard/edit/{{Data.id}}" style="text-decoration: none;">
                <div class="PostsCreated"> 
                    <p style="color: black;">{{Data.title}}</p>
                    <p style="color: black;">{{Data.date_created}}</p>
                </div>
            </a>

        {{/each}}

        <div  style="color:#03396C; width:100%">
            <a style="margin-top:60px;text-decoration:none;font-size:40px" href="/dashboard/new">New post</a>
        </div>
    </div>
</div>