<h1>Edit Post</h1>

<div>
    <p>Title</p>

    <textarea class="edittitle">{{postData.title}}</textarea>

    <p>Content</p>

    <textarea class="editcontent">{{postData.content}}</textarea>

    <div class="Update">
        <p id = '{{postData.id}}' class="id">Update</p>
    </div>
    
    <p class="Delete">Delete</p>
</div>

<script rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/Javascript/edit.js"></script>