
<br></br>

<div style="height:300px">

    <div class="newTitleContatiner">
        <h1>Edit Post</h1>
    </div>
 
    <div style="display:flex;justify-content:center" class="inputAreas">
        <div style="width:80%; display:flex;justify-content:center; flex-direction:column">
            <p>Title</p>

            <p style="display: none;" id='{{postData.id}}' class="tableId"></p>

            <textarea class="edittitle">{{postData.title}}</textarea>

            <p>Content</p>

            <textarea class="editcontent" rows="5" cols="70">{{postData.content}}</textarea>

        </div>

    </div>

</div>

    <br></br>

    <div class="buttons">
        {{!-- <button style = "cursor:pointer;background-color:#247ba0ff;font-size:25px;display:flex;justify-content:center" class="Update"> --}}
        <button style = "cursor:pointer;font-size:25px;" class="Update">
            <p style="color: white;" class="id">Update</p>
        </button>

        <br></br>
        <button style = "cursor:pointer;font-size:25px;" class="Delete">
            <p style="color: white;" class="deletebutton">Delete</p>
        </button>
    
    </div>


<script rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/Javascript/edit.js"></script>