<h1>Edit Post</h1>

<div>
    <p>Title</p>

    <p style="display: none;" id='{{postData.id}}' class="tableId"></p>

    <textarea class="edittitle">{{postData.title}}</textarea>

    <p>Content</p>

    <textarea class="editcontent">{{postData.content}}</textarea>

    <div class="Update">
        <p class="id">Update</p>
    </div>

    <div class="Delete">
        <p class="deletebutton">Delete</p>
    </div>
    
    
</div>

<script rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/Javascript/edit.js"></script>