<h1>Edit Post</h1>

<div>
    <p>Title</p>

    <textarea class="edittitle">{{postData.title}}</textarea>

    <p>Content</p>

    <textarea class="editcontent">{{postData.content}}</textarea>

    <p>Update</p>
    <p>Delete</p>
</div>
