

{{#each PostsData as |Data|}}

    <h1>Ttile</h1>

    <p>{{Data.title}}</p>

    <h1>Content</h1>
    <p>{{Data.content}}</p>

    <h1>User</h1>
    <p>{{Data.User.username}}</p>
       

{{/each}}