<div class="login-Page">
    
    <p>Enter Username</p>
    <textarea class="username-info"></textarea>
    
    <p>Enter password</p>
    <input class="password-info" type="password"></input>

    <button class="login-form" type="button">Login</button>

    <br></br>


    <p>Create Username</p>
    <textarea class="username-signup"></textarea>
    
    <p>Create Password</p>
    <input type="password" class="password-signup"></input>

    <button  class="signup-form">Sign up</button>

</div>

<script src="./Javascript/login.js"></script>