
<div>

    <p>Ttile</p>

    <input class="title2"></input>

    <p>Content</p>

    <input class="content2"></input>



    <p class="createButton">Create</p>
</div>


<script src="/Javascript/new.js"></script>