
<br></br>

<div class="createPgeContatiner">
    <div class="createPage">

        <div style="display:flex;justify-content:center" class="newTitleContatiner">
            <span style="font-size:30px;color:white">Create New Post</span>
        </div>

    
        <div style="width:80%;display:flex;flex-direction:column; margin-left:50px" class="newContentContatiner">
             <p style="color: white;">Ttile</p>
            <input  class="title2"></input>

            <p style="color: white;">Content</p>

            <input  class="content2"></input>

        </div>
    </div>
   
</div>

 <br></br>

 
    <p style="margin-left:90px;cursor:pointer; color:turquoise; font-size:30px" class="createButton">Create</p>


<script src="/Javascript/new.js"></script>