
<div>

    <p>Ttile</p>

    <input class="title"></input>

    <p>Content</p>

    <input class="content"></input>

    <a class="createButton" href="/dashboard">Create</a>
</div>


<script src="/Javascript/new.js"></script>