<div style="background-color:beige;height:100vh;margin-top:30px" class="login-Page">
    <div style="display:flex;justify-content:center;flex-direction:column">
        <div style="width:50%;display:flex;justify-content:center;flex-direction:column;margin-left:100px;color:black">
            <h1>Sign up</h1>

            <p>Create Username</p>
            <textarea class="username-signup"></textarea>
            
            <p>Create password</p>
            <input class="password-signup" type="password"></input>

            <br></br>

            <button  class="signup-form" type="button">SignUp</button>
            <a href="/login">log in</a>
        </div>

        

    </div>



    

</div>

   

<script src="/Javascript/signup.js"></script>