body{
    margin:0;
    padding:0;
}


nav{
    background-color: black;
    height: 150px;
    padding: 0;
}
nav a{
    color: white;
    padding-right: 8px;

}

.titleBorder{
    background-color:blue;
    width: 320px;
    height: 130px;
}

.title{
    display: flex;
    justify-content: center;
}

.homePage{
    background-color:beige;
    height: 100vh;
}

.Blog-Posts{
    
    padding-top: 20px;
}

.Post{
    display: flex;
    justify-content: space-between;
    background-color: #000000FF;
    width: 90%;
    height: 60px;
   
}

.Post span{
    color: white;
}

.postContent{
    display: flex;
    justify-content: center;
    background-color: #FFFFFFFF;
    width: 90%;
    height: 50px;
    
}

.infoPage{
    background-color:beige;
    height: 100vh;    
}

.allComments{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    margin-top: 30px;
    
}

.commentText{
    width: 400px;
}

.PostsCreated{
    background-color: white;
    padding-top: 20px;
}
