body{
    margin:0;
    padding:0;
}


nav{
    background-color: black;
    height: 150px;
    padding-bottom: 10px;
}
nav a{
    color: white;
    padding-right: 8px;

}

.titleBorder{
    width: 320px;
    height: 110px;
    
}

.title{
    font-size: 2rem;
    display: inline;
    align-items: center;
}

.homePage{
    background-color:beige;
    min-height: 100vh;
}

.Blog-Posts{
    
    padding-top: 20px;
}

.Post{
    display: flex;
    justify-content: space-between;
    background-color: #000000FF;
    width: 90%;
    height: 60px;
   
}

.Post span{
    color: white;
}

.postContent{
    display: flex;
    justify-content: center;
    background-color: #FFFFFFFF;
    width: 90%;
    height: 50px;
    
}

.infoPage{
    background-color:beige;
    height: 100vh;    
}

.allComments{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    margin-top: 30px;
    
}

.commentText{
    width: 400px;
}

.PostsCreated{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.createPage{
    background-color: teal; 
    width: 90%;
    height: 200px;
    
}

.createPgeContatiner{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.buttons{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.Update{
    background-color:#247ba0ff;
}

.Delete{
    background-color: red;
}

.newTitleContatiner{
    display:flex;
    justify-content:center;
    background-image: linear-gradient( #F0EFEB, #E2ECE9, #BEE1E6);
    border-top: 0.2rem solid #FAD2E1;
 
    /* background-color: pink; */
}

.inputAreas{
    background-image: linear-gradient(#BEE1E6,#DFE7FD,#FAD2E1,#EAE4E9,#CDDAFD);
    border-bottom:  0.2rem solid #FAD2E1;
    font-size: 1.2rem;
    text-align: center;
    color: gray;
}

